@charset "UTF-8";

/* rodapé e creditos */

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copyright {
    letter-spacing: 0.01rem;
    font-size: 0.95rem;
    color: var(--text-muted);
    text-align: center;
}

.dev-credits {
    font-size: 0.70rem;
    color: var(--text-muted);
}

.dev-credits a {
    color: var(--color-5);
}
