@charset "UTF-8";

/* janela 2 */

.window-2 {
    padding: 0.5rem;
}

.window-2-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.window-2-subtitle {
    color: var(--text-main);
    font-weight: 550;
    font-size: 1rem;
}
